:root {
    --secondary-color: #6c757d;
    --background-color: #d2b48c;
    --title-banner-color: #6c757d;
    --text-color: #212529;
    --button-color: #cd6318;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Cardo', serif;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
   transform: scale(1.05);
   transition: all 0.3s ease;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
}

.topContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
}

.cardContainer {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
}

.titleContainer {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--title-banner-color);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    gap: 10px;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.bottomContainer {
    display: block;
    width: 100%;
    flex-wrap: wrap;
}
